<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    {{ $styles := resources.Get "css/custom.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>

<body>
    <div class="glossary-page">
        <h1>Glossary</h1>
        <ul>
            {{ range .Site.Data.glossary }}
                <li id="{{ .term | urlize }}">
                    <strong>{{ .term }}</strong>: {{ .definition | safeHTML }}
                    {{ if .aka }}
                        <br><em>Also known as:</em>
                        {{ range $index, $alias := .aka }}
                            {{ if $index }}, {{ end }}<a href="#{{ $alias | urlize }}">{{ $alias }}</a>
                        {{ end }}
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </div>
</body>

</html>
