
/* --- text --- */

a:hover {
    color: #fff;
    text-decoration: line-through;
    cursor: crosshair;
    }

.he {
  text-align: right;
  direction: rtl;
  unicode-bidi: bidi-override;
}

/* --- Custom styles for the glossary page --- */

.glossary-page {
  background-color: rgba(0, 0, 0, 0.1); /* Light black background */
  color: #333; /* Text color */
  font-family: serif; /* Serif font */
  padding: 20px; /* Add some padding */
}

.glossary-page h1 {
  color: #000; /* Darker color for headings */
}

.glossary-page ul {
  list-style-type: none; /* Remove bullets from list */
  padding-left: 0; /* Remove default padding */
}

.glossary-page li {
  margin-bottom: 15px; /* Space between glossary items */
}
    